.active {
    color: #CEA17E; 
    text-decoration: underline; 
    text-underline-offset: 4px; 
    text-decoration-color: #CEA17E;
}

a:hover{
    color: #9d4502;
}

/* .dropdown-menu {
    position: absolute;
    z-index: 1050; 
} */

.navbar {
    position: relative;
    z-index: 10; 
}